<form class="container-sm border mt-4 pt-2 pb-2  " (ngSubmit)="login()">
  <h4 class="container-sm text-center">Login</h4>
  <div class="container-sm">
      <label for="username" class="username">User</label>
      <input type="text"  class="form-control" name="username" [(ngModel)]="username" required>

    </div>
 <br> <div class="container-sm">
      <label for="password" class="password">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="password" required >

  </div>


      <br><button type="submit" class="btn btn-primary">Login</button>


  </form>


