<div class="custom-row">
  <div class="custom-col" nzSm="24" nzLg="12">
    <img src="https://yt3.googleusercontent.com/g3j3iOUOPhNxBCNAArBqiYGzHzCBIzr_Al8mdvtBJeZMGFDblnU5rlVUt6GY01AUwm7Cp70J=s900-c-k-c0x00ffffff-no-rj" class="img-fluid" style="width: 80%; margin: 10%; height: 80%;" />
  </div>

  <div class="custom-col" nzSm="24" nzLg="12">
    <div class="custom-content">
      <div class="custom-title">kris</div>
      <div class="custom-title custom-bold">neonploy</div>

        <div class="custom-texts">dev</div>

      <div class="custom-text custom-margin-top">Phone</div>
      <div class="custom-text">0615922566</div>
      <div class="custom-rowd">
        <div class="custom-col" nzSm="24" nzLg="12">
          <div class="custom-text">Email</div>
          <div class="custom-text">krisd3214@gmail.com</div>
        </div>
        <div class="custom-col" nzSm="24" nzLg="12">
          <div class="custom-text">Address</div>
          <div class="custom-text">klonghok klonglaung.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="custom-row">
  <div class="custom-col" nzSpan="24">
    <div class="custom-content">
      <div class="custom-titles">Profile</div>
      <div class="custom-text custom-margin-top">pom  dorn kub ma  tam workshop</div>
    </div>
    <div class="custom-content">
      <div class="custom-titles">Education</div>
      <div class="custom-text custom-margin-top">2013 - 2019<br>room chinese<br>thanyarat school</div>
      <div class="custom-text custom-margin-top">2020 - 2024<br>science it<br>rajamang</div>
    </div>
    <div class="custom-content">
      <div class="custom-titles">Reference</div>
      <div class="custom-text custom-margin-top">Senior dev<br>p bom<br>softsqare</div>
    </div>
  </div>

  <div class="custom-col" nzSm="24" nzLg="12">
    <div class="custom-content">
      <div class="custom-titles">Experience</div>
      <div class="custom-text custom-margin-top">mai mekub</div>
      <div class="custom-text custom-margin-top">make shoe shop</div>
    </div>
    <div class="custom-content">
      <div class="custom-titles">Skill</div>
      <div class="custom-row custom-margin-top">
        <div class="custom-col skill-box">
          <div class="custom-text">Photoshop</div>
          <div class="custom-text">Illustrator</div>
        </div>
        <div class="custom-col skill-box">
          <div class="custom-text">InDesign</div>
          <div class="custom-text">After Effects</div>
        </div>
      </div>
    </div>
    <div class="custom-content">
      <div class="custom-titles">Hobbies</div>
      <div class="custom-rows">
        <div class="custom-col" >
          <span nz-icon nzType="heart" nzTheme="outline" class="large-icon"></span>
        </div>
        <div class="custom-col" >
          <span nz-icon nzType="twitter" nzTheme="outline" class="large-icon"></span>
        </div>
        <div class="custom-col" >
          <span nz-icon nzType="instagram" nzTheme="outline" class="large-icon"></span>
        </div>
        <div class="custom-col" >
          <span nz-icon nzType="facebook" nzTheme="outline" class="large-icon"></span>
        </div>
      </div>
    </div>
  </div>
</div>
